<!DOCTYPE html>
<html lang="en">

<head>
    <title>3D Shoulder Bone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Unicase:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <Link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>3D Model - Shoulder Bone</h1>
        </div>
        <div class="fl-box">
            <div class="canva" id="canva">

                <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js"></script>

                <script src="/STLLoader.js"></script>

                <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
                
                <canvas id="model">

                </canvas>
                <script src="/visualize.js"></script>

            </div>
            <div class="content">

                <div class="fact">
                    <h2 id="fact">The shoulder complex, composed of the clavicle, scapula, and humerus, is an
                        intricately designed combination of four joints.</h2>
                </div>
                <div class="inst">
                    <h4>Click and drag on the bone to rotate.</h4>
                </div>

            </div>
        </div>

        <div class="footer">
            <p>designed and created by <strong><a href="https://khushi-naik.github.io/khushi-naik/">Khushi</a></strong></p>
        </div>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script>
        var q = ['The shoulder is more dependent on muscles than any other joint in the body. The shoulder is the most mobile joint in the body.', 'The anatomy of the shoulder is unique – it has a relatively shallow socket which results in amazing flexibility and range of motion to the shoulder joint which is unparalleled elsewhere in the body.', 'The shoulder complex, composed of the clavicle, scapula, and humerus, is an intricately designed combination of four joints.']

        $(document).ready(function () {
            console.log("ready!");



            var q1 = true, q2 = false, q3 = false;
            setInterval(function () {

                if (q1) {
                    q1 = false;
                    document.getElementById('fact').innerHTML = q[0];
                    document.getElementById('fact').style.color = 'rgb(218, 216, 216)'
                    q2 = true;
                }
                else if (q2) {
                    q2 = false;
                    document.getElementById('fact').innerHTML = q[1];
                    document.getElementById('fact').style.color = 'rgb(218, 216, 216)'
                    q3 = true;
                }
                else {
                    q3 = false;
                    document.getElementById('fact').innerHTML = q[2];
                    document.getElementById('fact').style.color = 'rgb(218, 216, 216)'
                    q1 = true;
                }
            }, 4000);

        });





    </script>

</body>

</html>