body {
    
    font-family: 'Cormorant Unicase', serif;
    margin: 0px;
    overflow: hidden;
    background-color: #121212;
    text-align: center;
    color: white;
}



.header{
    
    background-color: #121212;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    color: #d39314;
}
.canva{
    
    background-color: #121212;
    
    width: 55vw;
    height: 100vh;
}
.content{
    
    background-color: #121212;    
    width: 45vw;
    height: 100vh;
    padding: 150px 60px 0 25px;
    display: flex;
    flex-direction: column;
    
}



.footer{
    
    background-color: #996600;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
   }

.fl-box{
    display: flex;
    
}

canvas{
    width: 100%;
    height: 100%;
}

#fact{
    color: white;
    font-family: 'Anton', sans-serif;
}

.fact{
    height: 55vh;
    
}

.inst{
    border-top: 2px solid grey;
    height: 45vh;
    color: #d39314;
}




